.admin-table {
    width: 800px;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    overflow: hidden; /* 테두리 둥글게 */
  }
  
  .admin-table tbody{
    cursor: pointer;
  }
  .admin-table th,
  .admin-table td {
    padding: 16px; /* 패딩을 더 크게 */
    border-bottom: 1px solid #ddd;
  }
  
  .admin-table th {
    background-color: rgb(255, 213, 0);

    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .admin-table td {
    font-size: 0.9rem;
    color: #333;
  }
  
  .admin-table tr:nth-child(even) {
    background-color: #f9f9f9; /* 줄마다 다른 배경색 */
  }
  
  .admin-table tr:hover {
    background-color: #f1f1f1; /* 호버 효과 */
  }

  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .admin-add {
    background-color: #FFAC12; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bolder; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    margin-top: 20px; 
    width: 300px;
    margin-bottom:20px;
}

.modal-content textarea {
    width: 300px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

td button{
    width:50px;
    background-color: #FFAC12;
    color:white;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 2px;
}