.contents {
    text-align: center;
}

.mbti-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.mbti-box img{
    width:400px;
}

.mbti-box button {
    background-color: #FFAC12; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bolder; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    margin-top: 30px; 
    width: 300px;
}

.mbti-box p{
    color:red;
    font-size: 15px;
    font-weight: bold;
}


.options {
    display: flex;
    justify-content: space-between;
}

.option {
    background-color: #fcbf1e;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    margin: 0 80px;
    text-align: center;
}

.option img{
    width: 250px;
    height: 250px;
}


/* 결과MBTIResult */
.result-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 700px;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0; 
}

.image-container {
    flex-shrink: 0;
    margin-right: 30px;
}

.circular-image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
}

.text-container {
    width:300px;
}

.text-container p{
    font-size: 16px;
}

.percentage-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.progress-bar {
    flex: 1;
    background-color: #e0e0e0; /* 배경색을 지정 */
    border-radius: 5px;
    margin: 0 10px;
    height: 20px; /* progress-bar의 높이 지정 */
}

.progress {
    height: 100%; /* progress의 높이를 progress-bar와 동일하게 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.submit-button {
    background-color: #fcbf1e;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* 호버 효과를 위한 transition */
}

.submit-button:hover {
    background-color: #f8a300; /* 호버 시 색상 변화 */
}
