.contents {
    text-align: center;
}

.mbti-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mbti-change {
    width: 800px;
    height: 300px;
    background-color: #ccc;
}

.mbti-controls {
    display: flex; 
    justify-content: flex-end; 
    width: 100%; 
}

.reset-text {
    color: #f44336; 
    cursor: pointer; 
    text-decoration: underline; /* 밑줄 추가 */
    margin-right: 10px; /* 버튼과의 간격 추가 */
}
  
.reset-text:hover {
    color: #d32f2f; 
}

.mbti-box img {
    width: 400px;
}

.mbti-box button {
    background-color: #FFAC12; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bolder; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    margin-top: 10px; 
    width: 300px;
}

.mbti-box button:hover {
    background-color: #ff9c00;
    transform: scale(1.05); /* 클릭 시 부드러운 확대 효과 */
}

.mbti-warning {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.options {
    display: flex;
    justify-content: space-around;
}

.option {
    background-color: #fcbf1e;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    margin: 0 50px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 380px;
    width: 300px;
}

.option:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.option img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}

.option-text {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    text-align: left; /* 왼쪽 정렬 */
    display: block; /* 텍스트를 블록으로 설정하여 정렬 */
    transition: color 0.3s, transform 0.3s;
}


.option:hover .option-text {
    transform: scale(1.05); /* 살짝 확대되는 효과 */
}

/* 결과MBTIResult */
.result-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 700px;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0; 
}

.image-container {
    flex-shrink: 0;
    margin-right: 30px;
}

.circular-image {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
}

.text-container {
    width: 300px;
}

.text-container p {
    font-size: 16px;
}

.percentage-item {
    display: flex;
    align-items: center;
    margin: 10px 0; /* 위 아래 간격 */
}

.label, .value {
    width: 60px; /* 왼쪽 및 오른쪽 텍스트의 너비 설정 */
}

.progress-bar {
    flex: 1; /* progress-bar가 가능한 모든 공간을 차지 */
    background-color: #e0e0e0; /* 배경색을 지정 */
    border-radius: 5px;
    height: 20px; /* progress-bar의 높이 지정 */
    margin: 0 10px; /* progress bar 간격 */
    position: relative; /* position을 relative로 설정 */
}

.progress {
    height: 100%; /* progress의 높이를 progress-bar와 동일하게 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.submit-button {
    background-color: #fcbf1e;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s; /* 호버 효과를 위한 transition */
}

.submit-button:hover {
    background-color: #f8a300; /* 호버 시 색상 변화 */
}
