body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  background-color: rgb(254, 239, 114);
  min-height: 100vh; /* 최소 높이를 100vh로 설정 */
}

.sidebar {
  width: 250px;
  background-color: white;
  padding: 30px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}


.logo img {
  margin: auto;
  width: 200px; 
  height: 100px; 
  display: block; 
}

.auth {
  margin-top:30px;
  height:50px;
  display: flex;              
  justify-content: center;  
  /* background-color: red;  */
}

.auth button {
  background-color: white;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: none; 
  background-color: rgb(252, 247, 200);
  transition: background-color 0.3s;
}

.auth button:hover {
  background-color: rgb(254, 239, 114); 
}

.auth button.active {
  background-color: rgb(254, 239, 114);
}

.auth-profile {
  display: flex;        
  align-items: center;    
  justify-content: end;    
  position: relative;  
}

.tooltip {
  position: absolute;
  bottom: 115%; 
  left: 17%; /* 가운데 정렬 */
  transform: translateX(-50%);
  background-color: #FFAC12; /* 반투명 배경 */
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap; 
  margin-bottom: 5px; 
  z-index: 1; 
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* 말풍선의 아래쪽 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬 */
  border-width: 5px; /* 삼각형의 크기 */
  border-style: solid;
  border-color: #FFAC12 transparent transparent transparent; /* 아래쪽만 색칠 */
}

.auth-profile img {
  cursor: pointer; /* 커서를 포인터로 변경 */
}

.profile-text {
  display: flex;
  align-items: center;    
  padding:10px;
}

.auth-profile img{
  width:60px;
  height: 60px;
  border-radius: 100px;
}

.menubar{
  margin-top:20px;
  /* background-color: red; */
  height: 300px;
}

#menu {
  height: 40px;
  border-radius: 12px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  transition: background-color 0.3s; 
}


#menu:hover {
  background-color: rgb(254, 239, 114); 
}

#menu.active {
  background-color: rgb(254, 239, 114);
  font-weight: bolder;
}

#menu img{
  width: 25px;
  height: 25px;
}
#menu p{
  margin-left: 30px;
}

.main{
  width: 100%;
  height: 100%;
}
